@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: '100%';
  width: '100%';
}
